<div class="slide  d-flex align-items-center align-content-center">
    <p class="text-center text-justify text-slide">

        <b>وفر وقتك </b>
        سوف نحضر أفضل المنفذين لطلباتك و بأفضل الأسعار يذهب 70 فى المئة من وقتك فى البحث
        عن من ينجز المهمة نحن نقوم بذلك
    </p>
</div>